*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(209, 42%, 49%);
  --color-primary-light: #61aaee;
  --color-primary-dark: #285f92;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0 1.5rem;
}

nav {
  
  width: calc(100% - 3rem);
  height: 46px;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 1.5rem;
  z-index: 1;
}

.logo{
  float:left;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  float: right;
}

.nav-item {
  
  display: inline-block;
}

.nav-item-link,
.nav-item-link:link,
.nav-item-link:visited {
  color: white;
  text-decoration: none;
  padding: 16px 14px;
  text-align: center;
  display: block;
}

.nav-item-link:hover {
  background-color: var(--color-primary);
}


.drop-link {
  color: white;
  background-color: rgba(0,0,0,0.2);
  text-decoration: none;
  padding: 16px 14px;


  border: none;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
}

.dropdown-list  {
  display: none;
  position: absolute;
  list-style-type: none;
  min-width: 160px;
  /*left:0;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 12px 16px;
  /*margin-left: -10px;*/
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {background-color: var(--color-primary);}


.dropdown:hover .dropdown-list {
  display: block;
}

.header {
  height: 90vh;
  width: 100%;
  background-image: url("img/cover/keyboard-large.jpg");
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  position: relative;
}

.header-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: solid 3px rgba(0, 0, 0, .3) ;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  position:absolute;
  text-transform: uppercase;
  text-align: center;
  color: #487eb0;
  /*color: linear-gradient(to right bottom, 
  rgba(51, 204, 255, 1),  rgba(72, 126, 176, 1));*/
}

.header-box--title{
  font-size: 3rem;
  margin-bottom: 1rem;
  background: -webkit-linear-gradient(var(--color-primary-light), var(--color-primary-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header-box--description{
  font-size: 1.6rem;
   background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects {
  width:100%;
  background-image: linear-gradient(to right bottom,
   rgba(0, 0, 0,1), var(--color-primary-dark),rgba(0, 0, 0,1));
  padding: 5rem;
  text-align: center;
}

.row {
  margin: 2rem 2rem;
}

.heading {
  font-size: 3.2rem;
  font-weight: 700;
}

.heading2 {
  text-align: justify;
}

.colum-1-2 {
  float: left;
}

.card {
  width: 250px;
  height: 300px;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  position: absolute;
}

.card-btn {
  font-size: 1.5rem;
  padding: 1rem;
  left:50%;
  top:75%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.colum-2-2{
  float:right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.aboutme {
  background-color: azure;
  width:100%;
  padding-top: 50px;
}

.aboutme-title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  word-spacing: 1px;
  text-transform: uppercase;
}

.aboutme-text {
  float: left;
  width: 50%;
  padding: 25px;
}

.aboutme-text--title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.4rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.aboutme-text p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin-bottom: 1rem;
}

.aboutme-text--read,
.aboutme-text--read:link,
.aboutme-text--read:visited {
  color: greenyellow;
  padding: 1rem;
  border: none;
}
.aboutme-text--read:hover {
  background-color: greenyellow;
  color: white;
  border-bottom: white;
}

.aboutme-img {
  float: left;
  width: 50%;
}

.aboutme-modal--content{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}

.aboutme-modal{
  background-color: rgba(0,0,0,.5);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
}

#modal:target {
  opacity:1;
  pointer-events:auto;
}

.footer {
   background-image: linear-gradient(to left ,
   rgba(0, 0, 0,1), var(--color-primary-dark),rgba(0, 0, 0,1));

}

