*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 1.5rem;
}

nav {
  width:100%;
  display: block;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: greenyellow;
  width: 100%;
}

.nav-item {
  float: right;
  display: inline-block;
}

.nav-item-link,
.nav-item-link:link,
.nav-item-link:visited {
  color: red;
  text-decoration: none;
  padding: 16px 14px;
  text-align: center;
  display: block;
}

.nav-item-link:hover {
  background-color: hotpink;
}

.header {
  height: 90vh;
  width: 100%;
  background-color: grey;
  position: relative;
}

.header-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position:absolute;
  text-transform: uppercase;
  text-align: center;
}

.header-box--title{
  font-size: 3rem;
  color: gainsboro;
}

.header-box--description{
  font-size: 1.6rem;
  color: rgb(221, 221, 221);
}

.projects {
  width:100%;
  background-image: linear-gradient(to right bottom, rgb(230, 230, 230), rgb(161, 161, 161));
  padding-top: 5rem;
  text-align: center;
}

.row {
  margin: 2rem 0;
  
}

.heading {
  font-size: 3.2rem;
  font-weight: 700;
}

.heading2 {
  text-align: left;
}
